@import "../vars.scss";

#aboutMe {
  background-color: $blue;
}

#listSkill {
  background-color: $blue;
  cursor: pointer;
}

#listSkill:hover {
  filter: contrast(120%);
}

#firstCarousel {
  transition: 0.3s;
  width: 100%;
  a {
    filter: invert(1);
  }
  li {
    filter: invert(1);
  }
}

#firstCarousel:hover {
  position: absolute;
  transform: scale(2);
  left: 50%;
  z-index: 50;
  a {
    filter: invert(0);
  }
}

#secondCarousel {
  transition: 0.3s;
  width: 100%;
  a {
    filter: invert(1);
  }
  li {
    filter: invert(1);
  }
}

#secondCarousel:hover {
  position: absolute;
  transform: scale(2);
  right: 50%;
  z-index: 100;
  a {
    filter: invert(0);
  }
}

@media screen and (min-width: 540px) {
  #firstCarousel:hover {
    position: relative;
    transform: scale(1);
    top: 0;
    left: 0;
    a {
      filter: invert(1);
    }
  }
  #secondCarousel:hover {
    position: relative;
    transform: scale(1);
    top: 0;
    right: 0;
    a {
      filter: invert(1);
    }
  }
}
