@import "../vars.scss";

.projectItem {
  position: relative;
  color: white;
  border-radius: 50px;

  img {
    object-fit: contain;
    max-height: 45vh;
  }

  .card-body-absolute {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s;
    padding: 5px;
    z-index: 10;

    a {
      width: 80%;
      border: none;
    }
  }
}

.card-body-absolute:hover {
  width: 90vw;
  opacity: 0.95;
}
